* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #edf2f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2b2d42;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

fieldset {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: 0;
    background-color: #03045e;
    color: #FFF;
    font-size: 16px;
    width: 160px;
    height: 35px;
    border-radius: 20px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

input{
    padding: 4px;
    margin: 10px;
    width: 220px;
}

input:hover {
    background-color: #e0f5f5;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#labelSenha {
    margin-right: 10px;
}